.webconvo {
    border: 1px solid darkgray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-width: 330px;
}

.webconvoheader {
    align-items: center;
    background-color: lightsteelblue;
    border-bottom: 1px solid darkgrey;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
}

.webconvoheadername {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.webconvoheadersidecont {
    display: flex;
    width: 20%;
}

.webconvoheaderbuttoncont {
    display: flex;
    justify-content: flex-end;
}

.webconvoheaderbutton {
    background-color: rgb(21,49,79);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    margin-right: 8px;
    padding: 8px 15px;
}
