.messagecont {
    margin: 20px 0;
}

.messagetextcont {
    border-radius: 8px;
    max-width: 45%;
}

.fromme {
    align-items: flex-end;
}

.frommetext {
    background-color: rgb(21, 49, 79);
    color: white;
    margin-right: 12px;
}

.frommetext a {
    color: white;
}

.frommetext a:visited {
    color: lightgray;
}

.fromyou {
    justify-content: flex-start;
}

.fromyoutext {
    background-color: gainsboro;
    margin-left: 12px;
}

.fromyoutext a {
    color: inherit;
}

.fromyoutext a:visited {
    color: dimgray;
}

.messagetextcont.fromyoutext {
    display: inline-table;
}

.messagetext {
    margin: 8px;
}

.messagetextfauxcont, .messageshorttextfauxcont {
    display: flex;
    flex-direction: column;
    position: relative;
}

.messagetextfauxcont:after {
    border: 20px solid transparent;
    border-bottom: 0;
    bottom: 0;
    content: '';
    height: 0;
    margin-bottom: -18px;
    margin-left: -10px;
    position: absolute;
    width: 0;
}

.messagetextfauxcont.fromme:after {
    border-right: 0;
    border-top-color: rgb(21, 49, 79);
    right: 15px;
}

.messagetextfauxcont.fromyou:after {
    border-left: 0;
    border-top-color: gainsboro;
    left: 25px;
}

.messagetimestamp {
    color: grey;
    font-size: .7em;
}

.fromme > .messagetimestamp {
    margin-right: 15px;
 }

.fromyou > .messagetimestamp {
    margin-left: 15px;
}
